                 h1 {
                  color: #2e6da4;
                  font-family: Times New Roman;
                  font-size: 350%;
                  }
                  div
                  {
                  margin-top: 70px;
                  }
                  body 
                  {
                  margin: 0;
                  padding: 0;
                  background-color: black; 
                  background-size: cover;
                  }
                  .head{
                  background-color :white;
                  margin-top: 20px;
                  margin-bottom: 30px;
                  box-shadow: 0px 0px 10px 5px red;
                  }
                  .input{
                  border:none;
                  border: 1px solid;
                  height: 40px; 
                  font-size: 16px;
                  width: 100%;
                  padding: 5px;
                  border-radius: 10px;
                  border-color: black;
                  margin-bottom: 20px;
                  }
                  .button{
                  height: 40px;
                  width: 100%;
                  }
              